.DS_Store
.ipynb_checkpoints/*
Untitled.ipynb
Untitled*.ipynb
output/*
bit/ms/optimization
bit/ms/mapk_task11
bit/ms/mapk_opt
bit/ms/mapk_cascade
bit/ms/circadian_clock
bit/ms/t12opt/*

Scratch.ipynb
reach_output.json
trips_output.xml
