
.ipynb_checkpoints/*

Technical Neural Networks Class/.ipynb_checkpoints/Perzeptron-checkpoint.ipynb

Technical Neural Networks Class/.ipynb_checkpoints/Regional and Online Learnable Fields-checkpoint.ipynb

Technical Neural Networks Class/.ipynb_checkpoints/Radial Basis Function-checkpoint.ipynb

Technical Neural Networks Class/.ipynb_checkpoints/Regional and Online Learnable Fields-checkpoint.ipynb
